@model Realtor.Models.Image

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете тази снимка?</h3>
<div>
    <h4>Изображение</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <img src="~/images/@Model.name" style="max-height:300px"/>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Create">Обратно</a>
    </form>
</div>
