@{
    ViewData["Title"] = "Home Page";
}



<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

<div class="cover-banner">
    <h1 class="text-dark">Realtor</h1>
</div>

<div>

    <h1>Сайтът за недвижими имоти</h1>
    <p class="lead">Тук са публикувани редица обяви за наем или продажба на имоти в страната.</p>

    <p class="lead"> Ако предлагате имот моля регистрирайте се, за да качите обява. Ако търсите имот независимо какъв - топ локации, луксозни или бюджетни имоти - не се колебайте, а разгледайте наличните обяви.</p>
    <p class="lead">
        <a asp-controller="Properties" asp-action="Index" class="btn btn-lg btn-secondary fw-bold border-dark bg-dark">Към обявите</a>
    </p>
</div>

</div>