@{
    ViewData["Title"] = "За нас";
}
<h1>@ViewData["Title"]</h1>

<p>
    Realtor е сайт за обяви на недвижими имоти.
    На сайта се публикуват имоти само от регистрирани потребители.
</p>

<section class="box b">
    <h1>Как да ползвате сайта?</h1>
    <p> Регистрирайте се, за да може да публикувате обяви. </p>
    <p> Ако не сте регистрирани, то имате възможност да разгледате съществуващите обяви.</p>
</section>